.root,
.frame,
.inner {
  max-width: 100%;
}

.root {
  position: relative;
}

.inner {
  position: absolute;
  top: 7%;
  left: 12.4%;
  width: 75.3%;
  background-color: #110E0C;
}

.img {
  max-width: 100%;
  position: absolute;
}

.video {
  position: relative;
  padding-bottom: 62.5%; /* 16:10 */
  height: 0;
  background-color: #000;
}

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}