.row {
  font-family: var(--font-avenir);
}

.row.border {
  border: 1px solid var(--color-greyLight);
}

.row.border.opened {
  box-shadow: 0 2px 4px 0 rgba(206, 206, 206, 0.5);
  border-color: var(--color-gold);
}

.row.marginBottom {
  margin-bottom: .5rem;
}

.container {
  display: flex;
}

.left {
  padding: 1rem;
  width: 56px;
  box-sizing: border-box;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  box-sizing: border-box;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  font-weight: var(--fontweight-demi);
}

.body {
  padding: 0 2rem 1rem 1rem;
  flex: 1;
  color: var(--color-grey);
  line-height: 1.5;
}

.withLeftContent {
  padding-left: 0;
}

.chevron {
  transform-origin: center center;
  pointer-events: none;
  font-size: 0.75em;
  color: var(--color-grey);
  margin-left: .5rem;
  padding: .5rem;
}

.chevron svg {
  margin-left: 0.5rem;
  transform: rotate(180deg);
}

.chevronActive svg {
  transform: rotate(0deg);
}