/*
  This means we can supply a class to the outer element and
  it'll color the whole block as required
 */
.base {
  color: currentColor;
  display: block;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  composes: fontLargeIv from '../../../globals/typography.css';
}

.strapline {
  margin-top: var(--size-medium);
  margin-bottom: 0;
  composes: fontLargeIii from '../../../globals/typography.css';
}

.titleWithStrapline {
  text-transform: uppercase;
  composes: fontRegular from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  color: var(--color-greyDark);
}