.tabs {
  width: 100%;
}

.tabsContainer {
  border-bottom: 1px solid var(--color-greyLighter);
}

.tab,
.tab:hover,
.tab:focus,
.tab:active {
  background: transparent;
  border-color: transparent;
  color: currentColor;
}

.tab:focus {
  outline: var(--color-focusRing) auto 5px;
}

.tab {
  padding: 0;
  margin: 0;
  font: var(--font-small);
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  width: auto;
  padding-top: var(--size-small);
  padding-bottom: var(--size-small);
  padding-right: var(--size-medium);
  margin-right: var(--size-small);
  text-transform: uppercase;
  border-width: 0;
  border-bottom: 2px solid transparent;
}

.tabActive,
.tabActive:hover,
.tabActive:focus,
.tabActive:active {
  border-bottom: 2px solid var(--color-black);
  font-weight: var(--fontweight-demi);
}

.tabsContent {
  position: relative;
  margin-top: var(--size-medium);
}

.tabContent {
  display: none;
}

.tabContentActive {
  display: block;
}