.root {
  overflow: hidden;
  margin-left: auto;
  margin-bottom: auto;
  text-align: center;
}

.page {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.track {
  list-style: none;
  display: inline-block;
}