.root {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-greyDark);
  composes: fontSmallI from '../../globals/typography.css';
  display: inline-block;
  font-family: var(--font-avenir);
  font-weight: var(--fontweight-regular);
  line-height: normal;
  min-height: var(--size-regular);
  padding-top: var(--size-sm-ii);
  padding-left: var(--size-sm-ii);
  padding-right: var(--size-sm-ii);
  padding-bottom: var(--size-sm-ii);
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;
  overflow: visible;
}

.disabled {
  color: var(--color-greyLighter);
}

.root:hover,
.root:focus {
  border: 1px solid var(--color-greyLighter);
  color: var(--color-greyDark);
}

.disabled:hover,
.disabled:focus {
  color: var(--color-greyLighter);
  background-color: transparent;
  border-color: transparent;
}

.active,
.active:hover {
  color: var(--color-white);
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
}

.active:hover {
  background-color: var(--color-grey);
}

.nextArrow,
.prevArrow {
  line-height: var(--size-regular);
}

.prevArrow svg {
  transform: rotate(180deg);
}