.root {
  overflow: hidden;
  margin-left: auto;
  margin-bottom: auto;
  text-align: center;
}

.page {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  margin-left: var(--size-sm-ii);
  margin-right: var(--size-sm-ii);
}

.track {
  list-style: none;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}