.root svg {
  width: 2.5em;
  height: 2.5em;
}

.barRestaurant svg,
.event svg,
.market svg,
.retail svg,
.shopShare svg,
.shoppingCentre svg,
.unique svg {
  stroke: transparent;
  fill: currentColor;
}
