.root {
  border: 1px solid var(--color-greyLighter);
  text-align: center;
  padding: var(--space-48) var(--size-large);
}

@media(--signpost-full) {
  .root {
    padding: var(--space-48);
  }
}

.title {
  composes: fontLargeIv from '../../globals/typography.css';
  margin-top: 0;
  margin-bottom: 0;
}

.body {
  composes: fontRegular from '../../globals/typography.css';
  margin-top: var(--size-large);
  margin-bottom: 0;
}