.root {
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
  composes: fontSmallI from '../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  letter-spacing: var(--letterspacing-wide);
  color: var(--color-gold);
}

.root:hover {
  color: var(--color-gold--light);
}

.root:hover .icon {
  transform: translateX(0.5em) translateZ(0);
}

.icon {
  line-height: 1;
  display: inline-block;
  transform: translateZ(0);
  vertical-align: text-top;
  transition: transform 150ms;
}