.root {
  color: currentColor;
  text-decoration: none;
  background-image: linear-gradient(0deg,rgba(192,31,46,0) 0%, var(--color-gold) 0, var(--color-gold) 5%, rgba(192,31,46,0) 0);
}

.root:hover {
  color: var(--color-gold);
}