.specimenContainer {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  white-space: nowrap;
  margin-top: var(--size-regular);
}

.control {
  width: 100%;
}


.tether {
  height: var(--size-lg-ii);
  width: var(--size-lg-ii);
  background-color: var(--color-gold);
}

@media(--controls-transpose) {
  .controls {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }
  .control + .control {
    margin-left: var(--size-regular);
  }
}
