.slides {
  overflow-x: auto;
  overflow-y: hidden;
  transition: transform 0.5s ease 0s;
  white-space: nowrap;
  margin: 0 -0.25rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slide {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

.slideInner {
  padding: 0 0.25rem;
}

.title {
  font-family: var(--font-avenir);
  font-weight: var(--fontweight-demi);
  letter-spacing: normal;
}

.title.large {
  font-size: var(--fontsize-large-ii);
  margin: 0 0 1.5rem 0;
}

.title.small {
  font-size: var(--fontsize-regular);
  margin: 0 0 1rem 0;
} 
