.root {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-greyLighter);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: var(--size-regular);
  overflow-x: auto;
  -webkit-overflow-scroll: smooth;
}

.code {
  font-family: var(--font-fira-code);
}
