language: bash

sudo: false
cache:
  directories:
  - "node_modules"
  - "yarn"

before_install:
  - nvm install node
  - source travis/install_yarn

install:
  - yarn install

script:
  - yarn run test:travis

notifications:
  slack:
    rooms:
    - appearhere:7NDfKdoIg75HRj18QRW0uy4c#developer

after_success:
  - yarn add codeclimate-test-reporter
  - CODECLIMATE_REPO_TOKEN=dada3cbee91c5dbdf41beffcbc06dbf04d3b578de0fe61fa1bb42b1cc05cf9e3 codeclimate-test-reporter < ./coverage/lcov.info