.root {
  width: 15rem;
  border: none;
  padding: 0;
  border-radius: 4px;
  position: relative;
  margin-bottom: 6px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.4);
  composes: fontSmallI from '../../../globals/typography.css';
}

.root:before {
  content: '';
  border: 6px solid;
  width: 0;
  height: 0;
  position: absolute;
  z-index: var(--z-tooltip);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
}

.scrollContainer {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.root.light {
  background-color: var(--color-white);
  color: var(--color-greyDarker);
}

.root.light:before{
  border-top-color: var(--color-white);
}

.root.dark {
  background-color: var(--color-greyDarkest);
  color: var(--color-white);
}

.root.dark:before {
  border-top-color: var(--color-greyDarkest);
}