.meta,
.description,
.link {
  display: none;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

.showMeta .meta,
.showDescription .description,
.showLink .link {
  display: block;
  animation-name: show;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.meta {
  composes: fontSmallI from '../../../globals/typography.css';
  color: var(--color-greyDark);
  font-weight: var(--fontweight-demi);
  margin-top: var(--size-small);
}

.description {
  margin-bottom: 0;
  font-size: inherit;
  margin-top: var(--size-medium);
}

.link {
  margin-top: var(--size-medium);
}

.showDescription .link {
  position: absolute;
  z-index: 1;
  bottom: var(--size-medium);
}

