/* Strokes */
.account svg,
.arrow svg,
.automatic-payments svg,
.bogroll svg,
.bogroll svg,
.book svg,
.calendar svg,
.calendar-insight svg,
.camera svg,
.chart-arrow svg,
.chatting svg,
.comment svg,
.clock svg,
.dollar svg,
.download svg,
.globe svg,
.location svg,
.manage svg,
.notification svg,
.percentage svg,
.play svg,
.play-c svg,
.shield svg,
.signature svg,
.star svg,
.store svg,
.tick-c svg,
.tick-starred svg,
.ticket svg,
.travel-idea svg,
.teamwork svg,
.vip-entrance svg {
  stroke: currentColor;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 1px;
}

/* Fills */

.card-list svg,
.chevron svg,
.chevron-right svg,
.cross svg,
.facebook svg,
.filter svg,
.heart svg,
.map svg,
.menu svg,
.minus svg,
.pintrest svg,
.plus svg,
.radio svg,
.search svg,
.tick svg,
.twitter svg,
.instagram svg {
  stroke: transparent;
  fill: currentColor;
  stroke-linecap: round;
}

/* Specials */

.appearhere svg {
  /* Should only ever appear black or white */
  fill: currentColor;
  stroke: transparent;
  /*
    Has a min width so it's always readable. It does mean that using sizing via
    the parent's font-size will only work after a certain point
   */
  min-width: 5.75rem;
}

.appearhere-brackets svg {
  /* Should only ever appear black or white */
  fill: currentColor;
  stroke: transparent;
}
