.placeLink {
  composes: fontSmallIi from '../../../globals/typography.css';
  padding: var(--size-small);
  background-color: var(--color-black);
  background-color: var(--color-transparent-black-i);
  color: var(--color-white);
  border-radius: 2px;
  font-weight: normal;
  position: absolute;
  top: var(--size-small);
  right: var(--size-small);
  z-index: 1;
  line-height: 1;
  transition: background-color 100ms;
  max-width: 80%;
  text-transform: initial;
}

.placeLink:hover {
  color: white;
  background-color: var(--color-black);
}

.placeLinkBody {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-right: 1rem;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
}

.placeLinkIcon {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
}