.root {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-greyLighter);
  border-radius: 4px;
}

.inner {
  display: block;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselControls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.control {
  position: absolute;
  color: var(--color-white);
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  opacity: 0.75;
}

.control:hover,
.control:focus,
.control:active {
  color: var(--color-white);
  opacity: 1;
}

.control:disabled,
.control:hover:disabled,
.control:active:disabled,
.control:focus:disabled {
  opacity: 0.3;
  color: var(--color-white);
  background-color: transparent;
  border: 0;
}

.prev {
  right: auto;
  left: var(--size-medium);
  transform: translateY(-50%) rotate(270deg);
}
.next {
  right: var(--size-medium);
  left: auto;
  transform: translateY(-50%) rotate(90deg);
}

.image {
  width: 100%;
  max-height: 13.75rem;
  object-fit: cover;
}

.spaceDetail {
  padding: var(--size-small);
  display: block;
}