/*
  This means we can supply a class to the outer element and
  it'll color the whole block as required
 */
.base {
  color: currentColor;
  display: block;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font: var(--font-large-ii);
  text-transform: uppercase;
  font-weight: var(--fontweight-bold);
}

.body {
  margin-top: var(--size-medium);
  margin-bottom: 0;
  font: var(--font-regular);
}