.root {
  position: relative;
}

.root * {
  box-sizing: border-box;
}

.label {
  composes: fontLargeI from '../../../globals/typography.css';
  font-weight: normal;
  margin-bottom: var(--size-small);
  border: 1px solid transparent;
  display: block;
  transition: color 300ms var(--animation-sharp);
  color: currentColor;
}

.labelErrored {
  color: var(--color-danger);
}

.optional {
  font: var(--font-small-ii);
  color: var(--color-grey);
  margin-left: var(--size-small);
}

.helperContainer {
  position: relative;
  z-index: -1;
}

.inputContainer {
  margin-top: var(--size-medium);
}

.description {
  position: relative;
  width: 100%;
  padding-top: var(--size-small);
  padding-bottom: var(--size-small);
  background-color: transparent;
  color: var(--color-grey);
  composes: fontSmallIi from '../../../globals/typography.css';
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 300ms var(--animation-sharp), opacity 500ms var(--animation-sharp);
}

.descriptionFocused {
  transform: translateY(0);
  opacity: 1;
}

.error {
  position: absolute;
  top: 0;
  width: 100%;
  padding: var(--size-small);
  background-color: var(--color-danger);
  color: var(--color-white);
  composes: fontSmallIi from '../../../globals/typography.css';
  transition: transform 300ms var(--animation-sharp), opacity 300ms var(--animation-sharp);
  z-index: 1;
}

/* Error transitions */
.enter,
.appear {
  transform: translateY(-100%);
  opacity: 0;
}

.enterActive,
.appearActive {
  transform: translateY(0);
  opacity: 1;
}

.leave {
  transform: translateY(0);
  opacity: 1;
}

.leaveActive {
  transform: translateY(-100%);
  opacity: 0;
}
