.root {
  position: relative;
  display: inline-block;
}

.root * {
  box-sizing: border-box;
}

.root input {
  position: absolute;
  opacity: 0;
  width: 1em;
  height: 1em;
  margin: 0;
}

.radio {
  display: inline-block;
}

.label {
  composes: fontRegular from '../../../globals/typography.css';
  color: currentColor;
  margin-left: var(--size-small);
}

.root input:focus + label .radio {
  outline-color: var(--color-focusRing);
  outline-style: auto;
  outline-width: 5px;
}

.root input + label .radio {
  border: 2px solid var(--color-greyLighter);
  border-radius: 100%;
  line-height: 0;
  display: inline-block;
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: cubic-bezier(0,1,.75,1);
  color: var(--color-white);
}

.icon {
  line-height: 0;
  display: inline-block;
  transform: scale(0.6) translateZ(0);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.icon svg {
  line-height: 0;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

.root input + label:hover .icon {
  border-color: var(--color-greyLight);
  color: var(--color-greyLight);
  opacity: 0.2;
}

.root input:checked + label .radio {
  background-color: var(--color-greyDark);
  border-color: var(--color-greyDark);
}

.root input:checked + label .icon {
  transform: scale(1) translateZ(0);
  opacity: 1;
}