@lost gutter 1rem;
@lost flexbox flex;

.group {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.specimenRoot {
  lost-column: 1/1;
  margin-top: var(--size-lg-i);
}

@media(--medallion-2up) {
  .specimenRoot {
    lost-column: 1/2;
  }
}
