.root,
.root:hover,
.root:focus,
.root:active {
  width: 100%;
  height: 100%;
  color: var(--color-white);
  text-align: center;
}

.icon {
  font-size: 3rem;
  display: inline-flex;
}

.icon svg {
  stroke-width: 0.5px;
}

@media (min-width: 70.5rem) {
  .icon {
    font-size: 4rem;
  }
}