.wrapper {
  display: block;
  position: relative;
}

.wrapper:before {
  content: '';
  height: 5px;
  width: 98%;
  top: calc(100% - 5px);
  box-shadow: 0 2px 4px 0 var(--color-greyLightest);
  position: absolute;
  left: 1%;
  z-index: -1;
  pointer-events: none;
}

select.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--color-greyLighter);
  padding: var(--size-sm-i) var(--size-regular);
  font-family: var(--font-avenir);
  font-size: var(--fontsize-regular);
  line-height: var(--lineheight-regular);
  font-weight: var(--fontweight-regular);
  letter-spacing: 0.2px;
  color: var(--color-greyDarker);
  background-color: var(--color-white);
  transition: border 300ms var(--animation-sharp), color 300ms var(--animation-sharp);
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 2px;
  margin: 0;
  height: auto;
}

select.high {
  padding: var(--size-regular) var(--size-lg-i);
}

.arrow {
  position: absolute;
  right: 1rem;
  color: var(--color-grey);
  transform: translateY(-35%) rotate(180deg);
  top: 50%;
  pointer-events: none;
  font-size: 0.75em;
}

select:focus,
select.focus {
  border-color: var(--color-grey);
  background-color: var(--color-white);
  color: var(--color-greyDarker);
}

.error {
  border-color: var(--color-danger);
  color: var(--color-danger);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.post {
  position: relative;
  display: block;
  width: 100%;
}

.errorMsg {
  position: absolute;
  top: 0;
  width: 100%;
  padding: var(--size-small);
  background-color: var(--color-danger);
  color: var(--color-white);
  composes: fontSmallIi from '../../../globals/typography.css';
  transition: transform 300ms var(--animation-sharp), opacity 300ms var(--animation-sharp);
  z-index: -1;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.enter,
.appear {
  transform: translateY(-100%);
  opacity: 0;
}

.enterActive,
.appearActive {
  transform: translateY(0);
  opacity: 1;
}

.leave {
  transform: translateY(0);
  opacity: 1;
}

.leaveActive {
  transform: translateY(-100%);
  opacity: 0;
}