/**
 * Breakpoints get defined on the global level so
 * it's easier to tell what content breaks and when
 */
:root {
  @custom-media --hero-large (min-width: 50rem);
  @custom-media --wrapper-large (min-width: 62.25rem);
  @custom-media --imageoverlaycard-small-aspect-ratio (min-width: 10rem);
  @custom-media --imageoverlaycard-small-fixed (min-width: 17.875rem);
  @custom-media --imageoverlaycard-full (min-height: 30rem) and (min-width: 17.875rem);
  @custom-media --signpost-full (min-width: 31.25rem);
}