/**
 * The official colour scheme for everything in our apps. If it doesn't exist
 * here, you probably shouldn't use it.
 *
 * Use semantic aliases, e.g., --color-error is preferred to --color-red where
 * possible, to imply the intent of your colour choice.
 */
:root {

  /* Brand colors */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(25, 25, 25);
  --color-gold: rgb(186, 160, 130);

  /* Brand tints */
  --color-black--light: rgb(52, 52, 52);
  --color-gold--light: rgb(219, 189, 154);

  /* Application colors */
  --color-blue: rgb(25, 103, 158);
  --color-red: rgb(213, 84, 68);
  --color-green: rgb(72, 213, 108);
  --color-focusRing: rgb(91, 157, 217);

  --color-greyLightest: rgb(245, 245, 245);
  --color-greyLighter: rgb(221, 221, 221);
  --color-greyLight: rgb(190, 190, 190);
  --color-grey: rgb(139, 139, 139);
  --color-greyDark: rgb(90, 90, 90);
  --color-greyDarker: rgb(56, 56, 56);
  --color-greyDarkest: rgb(35, 35, 35);

  /* Application tints */
  --color-red--light: rgb(236, 94, 77);

  /* Aliases */
  --color-primary: var(--color-gold);
  --color-action: var(--color-blue);
  --color-success: var(--color-green);
  --color-danger: var(--color-red);
  --color-text: var(--color-black);

  /* Tint Aliases */
  --color-primary--light: var(--color-gold--light);
  --color-danger--light: var(--color-red--light);

  /* Overlays */
  --overlay-default: rgba(20, 20, 21, 0.5);
  --overlay-dark: rgba(20, 20, 21, 0.6);
}