/**
 * The official colour scheme for everything in our apps. If it doesn't exist
 * here, you probably shouldn't use it.
 *
 * Use semantic aliases, e.g., --color-error is preferred to --color-red where
 * possible, to imply the intent of your colour choice.
 */
:root {

  /* Brand colors */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(25, 25, 25);
  --color-gold: rgb(186, 160, 130);

  /* Brand tints */
  --color-black--light: rgb(52, 52, 52);
  --color-gold--light: rgb(219, 189, 154);

  /* Application colors */
  --color-blue: rgb(25, 103, 158);
  --color-red: rgb(213, 84, 68);
  --color-green: rgb(72, 213, 108);
  --color-orange: rgb(234, 155, 82);
  --color-yellow: rgb(236, 180, 74);
  --color-focusRing: rgb(91, 157, 217);

  --color-greyLightest: rgb(245, 245, 245);
  --color-greyLighter: rgb(221, 221, 221);
  --color-greyLight: rgb(190, 190, 190);
  --color-grey: rgb(139, 139, 139);
  --color-greyDark: rgb(90, 90, 90);
  --color-greyDarker: rgb(56, 56, 56);
  --color-greyDarkest: rgb(35, 35, 35);

  /* Transparent colors */
  --color-transparent-black-i: rgba(25, 25, 25, 0.8);

  /* Application tints */
  --color-red--light: rgb(236, 94, 77);
  --color-blue--light: rgb(151, 186, 211);

  /* Aliases */
  --color-primary: var(--color-gold);
  --color-action: var(--color-blue);
  --color-success: var(--color-green);
  --color-danger: var(--color-red);
  --color-text: var(--color-black);
  --color-available: var(--color-green);
  --color-unavailable: var(--color-red);
  --color-underOffer: var(--color-orange);
  --color-internal: var(--color-black);
  --color-void: var(--color-yellow);

  /* Tint Aliases */
  --color-primary--light: var(--color-gold--light);
  --color-danger--light: var(--color-red--light);
  --color-action--light: var(--color-blue--light);

  /* Overlays */
  --overlay-default: rgba(20, 20, 21, 0.5);

  /* 3rd Party */
  --facebook-blue: rgb(59, 89, 152);
  --twitter-blue: rgb(29, 161, 242);
  --pintrest-red: rgb(190, 9, 28);
}