:root {
  --color-black:        rgb(0,   0,   0  );
  --color-blue:         rgb(25,  103, 158);
  --color-gold:         rgb(205, 160, 84 );
  --color-red:          rgb(208, 2,   27 );
  --color-white:        rgb(255, 255, 255);
}