:root {
  --space-200: 12.5rem;
  --space-96: 6rem;
  --space-80: 5rem;
  --space-64: 4rem;
  --space-48: 3rem;

  --size-large: 1.5rem;
  --size-medium: 1rem;
  --size-small: 0.5rem;
  --size-micro: 0.1rem;
}

/* Foreground colors */
.fgWhite { color: var(--color-white); }
.fgBlack { color: var(--color-black); }
.fgGold { color: var(--color-gold); }
.fgRed { color: var(--color-red); }
.fgGreen { color: var(--color-green); }
.fgPrimary { color: var(--color-primary); }
.fgSuccess { color: var(--color-success); }
.fgDanger { color: var(--color-danger); }
.fgText { color: var(--color-text); }
.fgGreyLightest { color: var(--color-greyLightest); }
.fgGreyLighter { color: var(--color-greyLighter); }
.fgGreyLight { color: var(--color-greyLight); }
.fgGrey { color: var(--color-grey); }
.fgGreyDark { color: var(--color-greyDark); }
.fgGreyDarker { color: var(--color-greyDarker); }

/* Background colors */
.bgWhite { background-color: var(--color-white); }
.bgBlack { background-color: var(--color-black); }
.bgGold { background-color: var(--color-gold); }
.bgRed { background-color: var(--color-red); }
.bgGreen { background-color: var(--color-green); }
.bgPrimary { background-color: var(--color-primary); }
.bgSuccess { background-color: var(--color-success); }
.bgDanger { background-color: var(--color-danger); }
.bgText { background-color: var(--color-text); }
.bgGreyLightest { background-color: var(--color-greyLightest); }
.bgGreyLighter { background-color: var(--color-greyLighter); }
.bgGreyLight { background-color: var(--color-greyLight); }
.bgGrey { background-color: var(--color-grey); }
.bgGreyDark { background-color: var(--color-greyDark); }
.bgGreyDarker { background-color: var(--color-greyDarker); }

/* Brand ornaments */
.goldUnderline {
  border-bottom: 4px solid var(--color-gold);
  display: inline-block;
  padding-bottom: 0.3rem;
}

/* Padding */
.pt0 { padding-top: 0; }
.pts { padding-top: var(--size-small); }
.ptm { padding-top: var(--size-medium); }
.ptl { padding-top: var(--size-large); }
.pt48 { padding-top: var(--space-48); }
.pt64 { padding-top: var(--space-64); }
.pt80 { padding-top: var(--space-80); }
.pt96 { padding-top: var(--space-96); }
.pt200 { padding-top: var(--space-200); }
.pl0 { padding-left: 0; }
.pls { padding-left: var(--size-small); }
.plm { padding-left: var(--size-medium); }
.pll { padding-left: var(--size-large); }
.pl48 { padding-left: var(--space-48); }
.pl64 { padding-left: var(--space-64); }
.pl80 { padding-left: var(--space-80); }
.pl96 { padding-left: var(--space-96); }
.pl200 { padding-left: var(--space-200); }
.pb0 { padding-bottom: 0; }
.pbs { padding-bottom: var(--size-small); }
.pbm { padding-bottom: var(--size-medium); }
.pbl { padding-bottom: var(--size-large); }
.pb48 { padding-bottom: var(--space-48); }
.pb64 { padding-bottom: var(--space-64); }
.pb80 { padding-bottom: var(--space-80); }
.pb96 { padding-bottom: var(--space-96); }
.pb200 { padding-bottom: var(--space-200); }
.pr0 { padding-right:  0; }
.prs { padding-right:  var(--size-small); }
.prm { padding-right:  var(--size-medium); }
.prl { padding-right:  var(--size-large); }
.pr48 { padding-right: var(--space-48); }
.pr64 { padding-right: var(--space-64); }
.pr80 { padding-right: var(--space-80); }
.pr96 { padding-right: var(--space-96); }
.pr200 { padding-right: var(--space-200); }
.pa0 { padding: 0; }
.pas { padding: var(--size-small); }
.pam { padding: var(--size-medium); }
.pal { padding: var(--size-large); }
.pa48 { padding: var(--space-48); }
.pa64 { padding: var(--space-64); }
.pa80 { padding: var(--space-80); }
.pa96 { padding: var(--space-96); }
.pa200 { padding: var(--space-200); }

/* Margin */
.mt0 { margin-top: 0; }
.mts { margin-top: var(--size-small); }
.mtm { margin-top: var(--size-medium); }
.mtl { margin-top: var(--size-large); }
.mt48 { margin-top: var(--space-48); }
.mt64 { margin-top: var(--space-64); }
.mt80 { margin-top: var(--space-80); }
.mt96 { margin-top: var(--space-96); }
.mt200 { margin-top: var(--space-200); }
.ml0 { margin-left: 0; }
.mls { margin-left: var(--size-small); }
.mlm { margin-left: var(--size-medium); }
.mll { margin-left: var(--size-large); }
.ml48 { margin-left: var(--space-48); }
.ml64 { margin-left: var(--space-64); }
.ml80 { margin-left: var(--space-80); }
.ml96 { margin-left: var(--space-96); }
.ml200 { margin-left: var(--space-200); }
.mb0 { margin-bottom: 0; }
.mbs { margin-bottom: var(--size-small); }
.mbm { margin-bottom: var(--size-medium); }
.mbl { margin-bottom: var(--size-large); }
.mb48 { margin-bottom: var(--space-48); }
.mb64 { margin-bottom: var(--space-64); }
.mb80 { margin-bottom: var(--space-80); }
.mb96 { margin-bottom: var(--space-96); }
.mb200 { margin-bottom: var(--space-200); }
.mr0 { margin-right:  0; }
.mrs { margin-right:  var(--size-small); }
.mrm { margin-right:  var(--size-medium); }
.mrl { margin-right:  var(--size-large); }
.mr48 { margin-right: var(--space-48); }
.mr64 { margin-right: var(--space-64); }
.mr80 { margin-right: var(--space-80); }
.mr96 { margin-right: var(--space-96); }
.mr200 { margin-right: var(--space-200); }
.ma0 { margin: 0; }
.mas { margin: var(--size-small); }
.mam { margin: var(--size-medium); }
.mal { margin: var(--size-large); }
.ma48 { margin: var(--space-48); }
.ma64 { margin: var(--space-64); }
.ma80 { margin: var(--space-80); }
.ma96 { margin: var(--space-96); }
.ma200 { margin: var(--space-200); }

/* Full font styles */
.fontTitleLarge { font: var(--font--title-large); }
.fontTitleBase { font: var(--font--title-base); }
.fontTitleSmall { font: var(--font--title-small); }
.fontLarge { font: var(--font-large); }
.fontBase { font: var(--font-base); }
.fontSmall { font: var(--font-small); }
.fontMicro { font: var(--font-micro); }

/* Font sizes */
.titleLarge { font-size: var(--fontsize--title-large); }
.titleBase { font-size: var(--fontsize--title-base); }
.titleSmall { font-size: var(--fontsize--title-small); }
.large { font-size: var(--fontsize-large); }
.base { font-size: var(--fontsize-base); }
.small { font-size: var(--fontsize-small); }
.micro { font-size: var(--fontsize-micro); }

/* Font modifiers */
.bold { font-weight: var(--fontweight-bold); }
.demi { font-weight: var(--fontweight-demi); }
.light { font-weight: var(--fontweight-light); }
.italic { font-style: italic; }
.strike { text-decoration: line-through; }
.code { font-family: monospace; }
.underline { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
.wideSpacing { letter-spacing: var(--letterspacing-wide) }

/* Rotation */
.rotate90 { transform: rotate(90deg); }
.rotate180 { transform: rotate(180deg); }
.rotate270 { transform: rotate(270deg); }

/* Display */
.dib { display: inline-block; }
.db { display: block; }
.di { display: inline; }

/* Text alignment */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/* Vertical alignment */
.valignt { vertical-align: top; }
.valignm { vertical-align: middle; }
.valignb { vertical-align: bottom; }

/* Clearfix */
.cf { lost-utility: clearfix; }