/**
 * Each property declaration should have its own variable, which are then
 * composed together to make `font` property declarations.
 *
 * Typically, start by using the `font` properties and override **individual
 * properties**:
 *
 * ```css
 * .example {
 *   font: var(--font-regular);
 *   line-height: 1.8;
 * }
 * ```
 */
:root {
  --font-avenir: 'Avenir Next W01', 'Helvetica Neue', 'Helvetica', 'sans-serif';

  --fontweight-bold: 800;
  --fontweight-demi: 700;
  --fontweight-regular: 400;
  --fontweight-light: 300;

  --fontsize-large-v: 5.125rem;
  --fontsize-large-iv: 2rem;
  --fontsize-large-iii: 1.75rem;
  --fontsize-large-ii: 1.5rem;
  --fontsize-large-i: 1.1875rem;
  --fontsize-regular: 1rem;
  --fontsize-small-i: 0.875rem;
  --fontsize-small-ii: 0.6875rem;

  --font-large-v: var(--fontweight-bold) var(--fontsize-large-v)/0.9024 var(--font-avenir);
  --font-large-iv: var(--fontweight-bold) var(--fontsize-large-iv)/1.34375 var(--font-avenir);
  --font-large-iii: var(--fontweight-bold) var(--fontsize-large-iii)/1.28571 var(--font-avenir);
  --font-large-ii: var(--fontweight-bold) var(--fontsize-large-ii)/1.333 var(--font-avenir);
  --font-large-i: var(--fontweight-regular) var(--fontsize-large-i)/1.263 var(--font-avenir);
  --font-regular: var(--fontweight-regular) var(--fontsize-regular)/1.4375 var(--font-avenir);
  --font-small-i: var(--fontweight-regular) var(--fontsize-small-i)/1.285 var(--font-avenir);
  --font-small-ii: var(--fontweight-regular) var(--fontsize-small-ii)/1.363 var(--font-avenir);

  --letter-spacing-large-v: 0.3125rem;
  --letter-spacing-large-iv: 0.125rem;
  --letter-spacing-large-iii: 0.01875rem;
  --letter-spacing-large-ii: 0.01875rem;
  --letter-spacing-large-i: 0.0125rem;
  --letter-spacing-regular: 0.10625rem;
  --letter-spacing-small-i: 0.009375rem;
  --letter-spacing-small-ii: 0.009375rem;

  /* Old style spacing */
  /* TODO: Remove in future version */
  --letterspacing-wide: 0.125rem;
}