.specimenRoot {
  margin-top: var(--size-regular);
}

.specimenContainer {
  padding: var(--size-sm-ii);
}

.btn {
  margin: var(--size-sm-ii);
  vertical-align: middle;
  display: inline-block;
}

.componentTitle {
	padding-top: var(--size-lg-ii);
	border-top: 1px solid var(--color-greyLighter);
}
