.primary {
  width: 100%;
  border: 1px dashed var(--color-greyLighter);
  background-color: var(--color-greyLightest);
  padding: var(--size-regular);
}

.secondary {
  width: auto;
  padding: var(--size-regular);
  border: 1px dashed var(--color-greyLighter);
  background-color: var(--color-greyLightest);
}
