.root {
  display: block;
  width: 100%;
  text-decoration: none;
  composes: fontSmallI from '../../../globals/typography.css';
  color: currentColor;
  padding: var(--size-sm-i);
  transition: color 200ms;
  border-radius: 0;
  border: 0;
  margin: 0;
  font-weight: var(--fontweight-demi);
  -webkit-font-smoothing: antialiased;
}