.root {
  width: var(--size-small);
  height: var(--size-small);
  background-color: var(--color-grey);
  border-radius: 50%;
}

.root + .root {
  margin-top: var(--size-small);
}

.active {
  background-color: var(--color-greyDark);
}