.root {
  composes: link from '../Card/Card.css';
  position: relative;
  background-color: var(--color-white);
  border-radius: 4px;
  z-index: 1;
}

.root:after {
  border-radius: 4px;
}

.inner {
  display: block;
  border-radius: 4px 4px 0 0 ;
}

.carousel {
  position: relative;
  width: 100%;
  height: var(--destination-listing-image-height);
  border-radius: 4px 4px 0 0 ;
  background-color: var(--color-greyLighter);
}

.carouselControls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.control {
  position: absolute;
  color: var(--color-white);
  font-size: var(--size-lg-i);
  background-color: transparent;
  border: 0;
  opacity: 0.75;
}

.control:hover,
.control:focus,
.control:active {
  color: var(--color-white);
  opacity: 1;
}

.control:disabled,
.control:hover:disabled,
.control:active:disabled,
.control:focus:disabled {
  opacity: 0.3;
  color: var(--color-white);
  background-color: transparent;
  border: 0;
}

.prev {
  right: auto;
  left: var(--size-medium);
  transform: translateY(-50%) rotate(270deg);
}
.next {
  right: var(--size-medium);
  left: auto;
  transform: translateY(-50%) rotate(90deg);
}

.image {
  width: 100%;
  height: var(--destination-listing-image-height);
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  display: block;
  background-color: var(--color-greyLighter);
}

.body {
  padding: var(--size-medium);
  display: block;
  background-color: var(--color-white);
  color: var(--color-greyDarker);
  text-decoration: none;
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--color-greyLighter);
  border-top: 0;
  vertical-align: top;
  overflow: hidden;
}

.name {
  composes: fontSmallI from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  color: var(--color-greyDarker);
  margin-top: var(--size-small);
}

.spacer {
  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.additionalInfo {
  composes: fontSmallI from '../../../globals/typography.css';
  color: var(--color-grey);
  margin-top: var(--size-small);
}

.priceFromLabel {
  composes: fontSmallI from '../../../globals/typography.css';
  color: var(--color-grey);
  margin-right: 0.3rem;
}

.price {
  composes: fontRegular from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  color: var(--color-greyDarker);
}

.priceUnit {
  composes: fontSmallI from '../../../globals/typography.css';
  color: var(--color-grey);
}
