.root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.caption {
  padding-top: var(--size-small);
  color: var(--color-greyDark);
  font: var(--font-small-ii);
  letter-spacing: var(--letter-spacing-small-ii);
}