.root {
  composes: fontRegular from '../../../globals/typography.css';
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.today {
  font-weight: var(--fontweight-demi);
}

.outOfRange {
  color: var(--color-greyLight);
}

.closed span {
  text-decoration: line-through;
  color: var(--color-greyLight);
}

.subtext p {
  color: var(--color-grey);
  font-size: 0.5625rem;
  margin: 0.2rem 0 0;
}
