.root {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.inner {
  display: table-cell;
  width: 100%;
  padding: var(--space-96) var(--size-large);
  vertical-align: middle;
  text-align: center;
}

.innerOverlay {
  background-color: var(--overlay-default);
}

/* Media query variable support pls */
@media(--hero-large) {
  .inner {
    padding: var(--space-200) var(--space-200);
  }
}