.root {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 88vh;
}

.inner {
  display: table-cell;
  width: 100%;
  padding: var(--space-96) var(--size-large);
  vertical-align: middle;
  text-align: center;
}

.innerOverlay {
  background-color: var(--overlay-default);
}

.caption {
  display: none;
}

@media(--hero-large) {
  .inner {
    padding: var(--space-200) var(--space-200);
  }

  .caption {
    display: block;
    position: absolute;
    color: var(--color-greyLightest);
    bottom: var(--size-large);
    right: var(--size-large);
  }
}