.root {
  width: 100%;
  max-width: 18.125rem;
  min-height: 12.333333333rem;
}

.name {
  font: var(--font-large-i);
  font-weight: var(--fontweight-bold);
  color: var(--color-white);
  padding-left: var(--size-small);
  padding-right: var(--size-small);
  text-align: center;
  transition: transform 250ms;
}

.detail {
  white-space: nowrap;
  color: var(--color-white);
  padding: var(--size-small);
  text-align: center;
  font: var(--font-small-i);
  transition: opacity 250ms;
}

.underline {
  background-image: linear-gradient(
    to top,
    rgba(192, 31, 46, 0) 11%,
    var(--color-gold) 11%,
    var(--color-gold) 16%,
    rgba(192, 31, 46, 0) 16%
  );
}

@media(min-height: 23.75rem) and (min-width: 18.125rem) {
  .root {
    height: 22.5rem;
  }
}

.root:hover .name {
  transform: translateY(1.5rem);
}

.root:hover .detail {
  opacity: 0;
}