div.root {
  display: flex;
  padding-top: var(--size-lg-i);
  padding-bottom: var(--size-lg-i);
  justify-content: space-between;
  align-items: center;
}

.inner {
  width: 90%;
  flex-grow: 2;
}

.dismissContainer {
  align-self: flex-start;
}