.scrubber {
  position: absolute;
  width: 100%;
  height: var(--size-small);
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  transition: height 150ms;
  cursor: pointer;
}

.scrubber:hover {
  height: var(--size-medium);
}

.scrubberInput {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.scrubberInner {
  height: 100%;
  background-color: var(--color-primary);
}

.scrubberInnerFocused {
  outline-color: var(--color-focusRing);
  outline-style: auto;
  outline-width: 5px;
}
