@lost gutter 1rem;
@lost flexbox flex;

.iconGroup {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.icon {
  lost-column: 1/2;
  margin-top: var(--size-lg-i);
}

@media(--iconography-3up) {
  .icon {
    lost-column: 1/3;
  }
}

@media(--iconography-4up) {
  .icon {
    lost-column: 1/4;
  }
}
