.base {
  color: currentColor;
}

.quoteBody {
  composes: fontLargeIi from '../../../globals/typography.css';
  composes: regular-weight from '../../../globals/typography.css';
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: block;
}

.quoteBody:before {
  content: "\201C";
}

.quoteBody:after {
  content: "\201D";
}

.cite {
  margin-top: var(--size-medium);
  margin-bottom: 0;
  font-style: normal;
  display: inline-block;
  position: relative;
  max-width: 75%;
  color: var(--color-grey);
  composes: fontRegular from '../../../globals/typography.css';
  composes: demi from '../../../globals/typography.css';
  text-transform: uppercase;
}