.progressSteps, .progressSteps *, .progressSteps *:before {
  box-sizing: border-box;
}

.step {
  padding-left: 1.5rem;
  position: relative;
}

.step:after {
  content: " ";
  display: block;
  width: 2px;
  height: 100%;
  background: #bebebe;
  left: 11px;
  position: absolute;
  top: calc(24px + 1rem);
  bottom: 1rem;
}

.step.opened:after, .step.opened:before {
  background: var(--color-gold);
}

.step:before {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #baa082;
  position: absolute;
  left: 0;
  top: 1rem;
}

.progressSteps {
  margin-left: 1rem;
}

.progressSteps >:last-child:after {
  display: none;
  bottom: 0;
  height: unset;
}

.progressSteps >:last-child.opened:after {
  display: block;
}
