.root {
  display: block;
  composes: fontRegular from '../../globals/typography.css';
  padding: var(--size-sm-i) var(--size-lg-i);
  width: 100%;
}

.root,
.root * {
  box-sizing: border-box;
}

.default {
  background-color: var(--color-white);
  color: var(--color-greyDark);
  border: 1px solid var(--color-greyLighter);
}

.dark {
  color: var(--color-white);
  background-color: var(--color-black);
}

.success {
  background-color: var(--color-success);
  color: var(--color-white);
}

.error {
  background-color: var(--color-danger);
  color: var(--color-white);
}