.root {
  color: var(--color-white);
  position: relative;
  border-radius: var(--size-sm-iii);
  height: 0;
  padding-bottom: calc(56.25% + var(--destination-listing-content-height));
}

.root:hover,
.root:focus {
  color: var(--color-white);
}

.body {
  position: absolute;
  bottom: 0;
  padding: var(--size-regular);
  overflow: hidden;
  width: 100%;
}

.overlay {
  background: linear-gradient(to bottom, rgba(20, 20, 21, 0) 10%, rgba(20, 20, 21, 0.65) 85%);
  background-color: transparent;
  border-bottom-left-radius: var(--size-sm-iii);
  border-bottom-right-radius: var(--size-sm-iii);
}

.name {
  composes: fontSmallI from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  margin-top: var(--size-sm-ii);
  white-space: nowrap;
  overflow: hidden;
  width: 98%;
  text-overflow: ellipsis;
}

.spacer {
  padding-left: var(--size-sm-ii);
  padding-right: var(--size-sm-ii);
  vertical-align: top;
}

.additionalInformationBlock {
  composes: fontSmallI from '../../../globals/typography.css';
  margin-top: var(--size-sm-ii);
  display: block;
}

.additionalInformationItem {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceFromLabel {
  composes: fontSmallI from '../../../globals/typography.css';
  margin-right: var(--size-sm-iii);
}

.price {
  composes: fontRegular from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
}

.priceUnit {
  composes: fontSmallI from '../../../globals/typography.css';
}