.root {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
  table-layout: fixed;
}

.root * {
  box-sizing: border-box;
}

.body {
  border: 1px solid var(--color-greyLighter);
}

.cell {
  width: auto;
  border: 1px solid var(--color-greyLighter);
  padding: 0;
  border-bottom: 0;
}

.row:first-child .cell {
  border-top: 0;
}

.row .cell:first-child {
  border-left: 0;
}

.row .cell:last-child {
  border-right: 0;
}