.light {
  background-color: var(--color-white);
  color: var(--color-greyDark);
}

.dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.body {
  max-height: calc(100vh - 66px);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: var(--size-large);
  clear: both;
}