@lost gutter 1rem;
@lost flexbox flex;

.colorGroup {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.color {
  lost-column: 1/2;
  margin-top: var(--size-lg-i);
}

@media(--colors-3up) {
  .color {
    lost-column: 1/3;
  }
}
