@lost gutter 1rem;

.colorGroup {
  lost-utility: clearfix;
  margin-top: 0;
}

.color {
  display: inline-block;
  lost-column: 1/2;
  margin-top: var(--size-lg-i);
}

@media(--colors-3up) {
  .color {
    lost-column: 1/3;
  }
}

@media(--colors-4up) {
  .color {
    lost-column: 1/4;
  }
}
