.control {
  border-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  display: block
}

.control:first-child {
  border-top-width: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.control:last-child {
  border-bottom-width: 1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.control + .control {
  padding-top: 0;
}

.control + .control:before {
  content: '';
  display: block;
  border-top: 1px solid var(--color-greyLighter);
  padding-bottom: calc(var(--size-sm-ii) - 1px);
  box-sizing: border-box;
  margin-left: calc(var(--size-sm-iv) * -1);
  margin-right: calc(var(--size-sm-iv) * -1);
}