.root {
  background: var(--color-white);
  border-color: var(--color-greyLighter);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: var(--color-grey);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-avenir);
  font-size: var(--fontsize-small-i);
  font-weight: 700;
  line-height: 1;
  padding: var(--size-sm-ii);
  text-decoration: none;
  text-transform: uppercase;
}

.root svg {
  vertical-align: top;
}

.root:focus {
  background: var(--color-white);
  border-color: var(--color-greyLighter);
  color: var(--color-grey);
}

.root:hover {
  background: var(--color-greyLightest);
  color: var(--color-greyDark);
}