.root,
.availabilityCalendarItem {
  position: relative;
  width: 100%;
}

.target {
  width: 100%;
}

.root * {
  box-sizing: border-box;
}

.selected,
.selected:hover {
  background-color: var(--color-action);
  color: var(--color-white);
}

.highlighted {
  color: var(--color-white);
}

.available,
.available:hover {
  background-color: var(--color-available);
  color: var(--color-white);
}

.unavailable,
.unavailable:hover {
  background-color: var(--color-unavailable);
  color: var(--color-white);
}

.underOffer,
.underOffer:hover {
  background-color: var(--color-underOffer);
  color: var(--color-white);
}

.internal,
.internal:hover {
  background-color: var(--color-internal);
  color: var(--color-white);
}

.void,
.void:hover {
  background-color: var(--color-void);
  color: var(--color-white);
}

.highlighted:before,
.selected:before,
.withDate.highlighted:before,
.withDate.selected:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 103, 158, 0.4);
}

.text {
  position: relative;
}

.icon {
  position: absolute;
  display: block;
  top: 0.3125rem;
  right: var(--size-small);
  pointer-events: none;
}

.icon svg {
  width: 0.75rem;
  height: 0.75rem;
}

.iconHalo {
  color: var(--color-black);
}

.selected + .iconHalo,
.highlighted + .iconHalo,
.selected + .iconHalo,
.available + .iconHalo,
.unavailable + .iconHalo,
.underOffer + .iconHalo,
.internal + .iconHalo,
.void + .iconHalo {
  color: var(--color-white);
}

.iconInternal,
.iconUnderOffer {
  color: var(--color-white);
}

.bookingRequests {
  max-width: 18.75rem;
}