.base {
  color: currentColor;
}

.quoteBody {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: block;
  composes: fontLargeIi from '../../../globals/typography.css';
  font-weight: var(--fontweight-regular);
}

.quoteBody:before {
  content: "\201C";
}

.quoteBody:after {
  content: "\201D";
}

.cite {
  margin-top: var(--size-medium);
  margin-bottom: 0;
  font-style: normal;
  display: inline-block;
  position: relative;
  max-width: 75%;
  color: var(--color-grey);
  composes: fontRegular from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  text-transform: uppercase;
}