.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}


.base {
  color: currentColor;
}

.quoteBody {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: block;
  composes: fontLargeIi from '../../../globals/typography.css';
  font-weight: var(--fontweight-regular);
}

.quoteBody:before {
  content: "\201C";
}

.quoteBody:after {
  content: "\201D";
}

.cite {
  margin-top: var(--size-medium);
  margin-bottom: 0;
  font-style: normal;
  display: inline-block;
  position: relative;
  max-width: 50%;
  color: var(--color-grey);
  composes: fontRegular from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  text-transform: uppercase;
}

.cite:before {
  content: '';
  width: 3rem;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-2px);
}

.left .cite {
  left: 5rem;
}

.cite:before {
  left: -5rem;
}