.root {
  overflow: hidden;
  z-index: 1;
}

.step {
  margin-bottom: var(--size-medium);
  box-sizing: border-box;
}

.stepIconContainer {
  position: relative;
  margin-bottom: var(--size-medium);
  vertical-align: top;
}

.stepIcon {
  background-color: var(--color-white);
  padding: var(--size-small);
  vertical-align: middle;
}

.stepContent {
  margin-top: calc(var(--size-medium) + (var(--size-small) / 2));
  margin-bottom: var(--size-medium);
  padding-left: var(--size-large);
  font: var(--font-regular);
  vertical-align: top;
}

.step + .step .stepIconContainer:before {
  content: ' ';
  background-color: var(--color-greyLighter);
  height: calc(100% - (var(--size-medium) * 3));
  width: 2px;
  position: absolute;
  display: block;
  top: calc(-100% + (var(--size-medium) * 3));
  left: 50%;
  z-index: -1;
}

.step + .step .stepIconContainerCompleted:before {
  background-color: var(--color-primary);
}

.stepIconContainerCompleted:last-of-type:before {
  background-color: var(--color-greyLighter);
}

.stepTitle {
  font: var(--font-regular);
  font-weight: var(--fontweight-bold);
  text-transform: uppercase;
  color: var(--color-greyDarker);
}

.stepBody {
  margin-left: 0;
  color: var(--color-greyDark);
}

.stepTitleCompleted {
  color: var(--color-black);
}

.horizontal .step {
  display: inline-block;
  text-align: center;
  padding-left: var(--size-medium);
  padding-right: var(--size-medium);
  vertical-align: top;
}

.horizontal .stepIconContainer,
.horizontal .stepContent {
  display: block;
}

.horizontal .stepIconContainer {
  margin-bottom: 0;
  width: 100%;
}

.horizontal .stepContent {
  margin-left: auto;
  width: 100%;
  max-width: 16rem;
  margin-right: auto;
  padding-left: 0;
}

.horizontal .step + .step .stepIconContainer:before {
  height: 2px;
  width: calc(100% - (var(--size-medium) * 8));
  left: calc(-50% + (var(--size-medium) * 3));
  top: calc(50% - 1px);
}

.icon {
  font-size: 2.5rem;
}

.stepIconContainerCompleted .icon svg {
  stroke: var(--color-primary);
}