.root {
  position: relative;
}

.root:before,
.root:after {
  content: '';
  height: 100%;
  width: 7.8125rem;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.root:before {
  left: calc(-1 * var(--size-small));
  right: auto;
  background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
}

.root:after {
  right: calc(-1 * var(--size-small));
  left: auto;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
}

.left:before {
  content: none;
}

.right:after {
  content: none;
}

.listWrapper {
  max-width: 38.25rem;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.list {
  list-style-type: none;
  width: 56.25rem;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  float: left;
  width: auto;
}

.link {
  display: block;
  composes: fontSmallI from '../../../globals/typography.css';
  font-weight: var(--fontweight-demi);
  text-transform: uppercase;
  color: var(--color-greyLight);
  text-decoration: none;
  padding: var(--size-medium) var(--size-small);
}

.link:hover {
  color: var(--color-greyDarker);
}

.activeLink {
  color: var(--color-greyDarker);
}

.centered .listWrapper {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  overflow-x: hidden;
}

.centered .list {
  list-style-type: none;
  width: auto;
}

.centered .item {
  display: inline-block;
  float: none;
  width: auto;
}

.centered .item a {
  padding-left: 0;
  padding-right: 0;
}

.centered .item + .item {
  margin-left: var(--space-96);
}
