
.iconLink {
  color: var(--color-black);
  font-family: var(--font-avenir);
  font-weight: var(--fontweight-demi);
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.iconLink:after, .iconLink:before {
  content: "";
  display: block;
  height: 1px;
  background: var(--color-black);
  widtH: 100%;
  position: absolute;
  bottom: 0;
  left: 0; 
  transition: 350ms;
}

.iconLink:before {
   transform: translate(-101%, 0);
   transition-delay: 200ms;
}

.iconLink:hover:after {
  transform: translate(100%, 0);
}
.iconLink:hover:before {
  transform: translate(0%, 0);
}

.iconLink.inverted:after, .iconLink.inverted:before {
  background: var(--color-white);
}

.iconLink.inverted {
  color: var(--color-white);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:300ms;
}

.text {
  padding-right: 8px;
  transition:500ms;
}

.iconLink:hover .text {
  color: #BAA082;
  transition:500ms;
}

.iconLink.inverted:hover .text {
  color: var(--color-grey);
}

.icon svg {
  height: 8px;
  width: 16px;
}

.iconLink.inverted .icon svg {
  fill: var(--color-white);
}
