.leave {
  opacity: 1;
}
.leaveActive {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.enter {
  opacity: 0;
  position: absolute;
}
.enterActive {
  opacity: 1;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}