.title {
  font-family: var(--font-avenir);
  font-size: var(--fontsize-large-ii);
  font-weight: var(--fontweight-demi);
  letter-spacing: normal;
  margin: 0 0 1.5rem 0;
}

.title.large {
  font-size: var(--fontsize-large-ii);
}

.title.medium {
  font-size: var(--fontsize-large-i);
}

.title.small {
  font-size: var(--fontsize-regular);
} 

.controls {
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin: 0 -0.25rem 1.5rem -0.25rem;
}

.button {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: var(--color-black);
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 0 0.25rem;
  padding: 0;
  font-size: 0.6rem;
  text-align: center;
}

.button:disabled {
  background: var(--color-greyLightest);
}

.controls .chevron svg {
  fill: var(--color-greyLighter);
}

.slideInner {
  padding: 0 0.25rem;
}

.carousel {
  position: relative;
}

.control {
  position: absolute;
  color: var(--color-white);
  font-size: var(--size-lg-i);
  background-color: transparent;
  border: 0;
  opacity: 0.75;
  z-index: 1;
  height: 100%;
}

.control:hover,
.control:focus,
.control:active {
  color: var(--color-white);
  opacity: 1;
}

.control:disabled,
.control:hover:disabled,
.control:active:disabled,
.control:focus:disabled {
  opacity: 0.3;
  color: var(--color-white);
  background-color: transparent;
  border: 0;
}

.prev {
  right: auto;
  left: 0;
  vertical-align: middle;
}

.next {
  right: 0;
  left: auto;
  vertical-align: middle;
}

.control .prevIcon,
.control .nextIcon {
  display: inline-block;
}

.control .prevIcon {
  padding-left: var(--size-regular);
  padding-right: var(--size-regular);
}

.control .nextIcon {
  padding-right: var(--size-regular);
  padding-left: var(--size-regular);
}

.prevIcon svg {
  transform: rotate(270deg);
}

.nextIcon svg {
  transform: rotate(90deg);
}

@media(min-width: 48rem) {
  .slideInner {
    padding: 0 0.5rem;
  }
}

@media(min-width: 64rem) {
  .slideInner {
    padding: 0 0.25rem;
  }
}
  