.exampleModal {
  width: 100vw;
  height: 100vh;
  max-width: 33.333333333rem;
  max-height: 20rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-greyLighter);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: var(--size-regular);
  border-radius: 2px;
}
